hardware/work
software/quaidcc.exe
software/src/ScanTable.h
software/src/ParseTable.h

*.out

**/__pycache__

**/db
**/incremental_db
**/output_files
**/*.qws
**/*.bak
**/src/*.bak

compiler/asmProject/.settings
compiler/asmProject/Debug
