hardware/work
software/quaidcc.exe
software/src/ScanTable.h
software/src/ParseTable.h

processor/alteraProject/db
processor/alteraProject/incremental_db
processor/alteraProject/output_files

compiler/asmProject/.settings
compiler/asmProject/Debug