################################################################################
# -- Design Specific Rules --
################################################################################

# (processor) Ignore Quartus generated metadata and output files.
processor/**/db
processor/**/incremental_db
processor/**/output_files
processor/**/*.qws
processor/**/*.bak
processor/**/src/*.bak

# (processor) Ignore bins created for testing hardware.
processor/tools/testBins/*.bin

################################################################################
# -- General Rules --
################################################################################

# Ignore pycaches- just "scripts running scripts"
**/__pycache__
